@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}
h1 {
    font-size: 30px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.navbar {
background: rgb(3, 61, 107);
background: linear-gradient(
  288deg,
  rgba(3, 61, 107, 1) 0%,
  rgba(134, 187, 210, 1) 100%
);
padding: 0.5rem 0px;
    position: fixed;
    width: 100%;
}

